<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>
  <appSettings>
    <!--add key="connStr" value="Data Source=CPSQL;Initial Catalog=cppractice_20161127;UID=sa;Password=B3ntl3yP3tStuff;"/-->

    <add key="connStr" value="Data Source=CPSQL;Initial Catalog=bentley;UID=sa;Password=B3ntl3yP3tStuff;"/>
    <!-- timeout period for database call -->
    <add key="timeOut" value="60"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
</configuration>
